<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue清单应用</title>
  <!-- <link rel="stylesheet" href="./lib/normalize.css"> -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="./css/main.css">
</head>

<body>
  <div id="main">
    <div class="navbar">
      <h1>Vue清单应用</h1>
    </div>
    <div class="header">
      想要做什么?
    </div>
    <div class="wrap list-group">
      <form @submit.prevent="merge" class="task-form list-group-item">
        <!-- <div class="wrap"> -->
        <input id="task-input" v-model="current.title" type="text" autocomplete="off" placeholder="想要做什么?">
        <div v-if="current.id" class="detail">
          <textarea v-model="current.desc" placeholder="请输入具体内容..." style="width:100%; max-width:100%"></textarea>
          <div style="margin:10px 30px;">
            提醒时间:
            <input v-model="current.alert_at" type="datetime-local">
            <br />
            <button class="btn btn-danger btn-block" type="submit">提交</button>
          </div>
        </div>
      </form>
      <div class="task-list incompleted">
        <!-- <div class="wrap"> -->
        <task :todo="todo" v-if="!todo.completed" v-for="(todo, index) in list">
          <!-- 模块化 -->
        </task>
        <!-- </div> -->
      </div>
      <div class="task-list">
        <!-- <div class="wrap"> -->
        已完成
        <div v-if="todo.completed" v-for="(todo, index) in list" class="completed task-item list-group-item">
          <button class="btn btn-default" type="button" @click="toggle_complete(todo.id)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
          {{todo.title}}
          <div class="btn-group" style="float:right;">
            <button class="btn btn-default" @click="toggle_detail(todo.id)">
              <span class="glyphicon glyphicon-option-horizontal"></span>
            </button>
            <button class="btn btn-default" type="button" @click="remove(todo.id)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
            <button class="btn btn-default" type="button" @click="set_current(todo)">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
          <div v-if="todo.show_detail" class="detail">
            {{todo.desc || '暂无详情'}}
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  </div>

  <!-- <audio id="alert-sound" src="./sound/alert.mp3" controls></audio> -->

  <template id="task-tpl">
    <div class="task-item list-group-item">
      <button class="btn btn-default" type="button" @click="action('toggle_complete', todo.id)">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <span class="title">{{todo.title}}</span>
      <div class="btn-group" style="float:right;">
        <button class="btn btn-default" @click="action('toggle_detail', todo.id)">
          <span class="glyphicon glyphicon-option-horizontal"></span>
        </button>
        <button class="btn btn-default" @click="action('remove', todo.id)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <button class="btn btn-default" @click="action('set_current', todo)">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </div>
      <div v-if="todo.show_detail" class="detail">
        {{todo.desc || '暂无详情'}}
      </div>
    </div>

  </template>

  <script src="./lib/vue.js"></script>
  <script src="./js/myStorage.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>